@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

layer base {
  html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      180deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }
  body {
    padding: 0;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .core-layout {
    @apply flex h-full min-h-screen w-full flex-col  bg-[#ffffff]  pb-10;
  }
  .page-layout {
    @apply px-8 py-10;
  }
  .input-container {
    @apply border h-[30px] border-blue-400 rounded-md px-2 py-1 w-full text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
  .from-to-container {
    @apply flex w-[300px] items-center mt-1 mb-4 justify-between;
  }
  .filter-label {
    @apply text-gray-500 mb-0 text-sm;
  }
  .td-container {
    @apply px-4 py-2;
  }
  .payments-filter-layout {
    @apply flex min-w-full justify-start shadow-sm;
  }
}
